* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.chinchilla-container {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 250px;
}

.item {
    background: lightgreen;
    margin: 2em;
    padding: 1em;
    text-align: center;
}

.message {
    color: red;
    font-size: 2em;
    background: black;
}